[Desktop Entry]
Type=Application
Name=韵
Comment=Personal music library
Exec=yun
Icon=yun
Terminal=false
Categories=AudioVideo;Audio;Player;
StartupWMClass=yun
