[Desktop Entry]
Type=Application
Name=韵
Comment=Personal music library
Exec=yun
Icon=app.yun.yun
Terminal=false
Categories=AudioVideo;Audio;Player;
StartupWMClass=app.yun.yun
